<!-- As a heading -->
<div class="row">
  <div class="col-md-12 col-xs-12">
    <app-header></app-header>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-xs-8">
    <app-filters></app-filters>
  </div>
  <div class="col-md-8 col-xs-8">
    <app-hotels></app-hotels>
  </div>
</div>

<div id="wrapper" class="active">
   <div id="sidebar-wrapper">

   </div>
   <div id="page-content-wrapper">
       <!-- Keep all page content within the page-content inset div! -->
       <div class="page-content inset">

       </div>
     </div>


</div>
